<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :body, "Comment:" %>
    <p><%= f.text_area :body, placeholder: "Enter comment here!!", style: "width: 100%" %></p>
    <p><%= f.submit "Submit", class: 'btn btn-success' %></p>
  </div>
<% end %>
